In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv("..\\processed\\tweets\\Jan2020.csv", names=('text', 'label'))
df2 = pd.read_csv("..\\processed\\tweets\\Apr2020.csv", names=('text', 'label'))
df3 = pd.read_csv("..\\processed\\tweets\\Jul2020.csv", names=('text', 'label'))
df4 = pd.read_csv("..\\processed\\tweets\\Oct2020.csv", names=('text', 'label'))
df5 = pd.read_csv("..\\processed\\tweets\\Jan2021.csv", names=('text', 'label'))
df6 = pd.read_csv("..\\processed\\tweets\\Apr2021.csv", names=('text', 'label'))
df7 = pd.read_csv("..\\processed\\tweets\\Jul2021.csv", names=('text', 'label'))
df8 = pd.read_csv("..\\processed\\tweets\\Oct2021.csv", names=('text', 'label'))
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], axis=0, sort=False)
df.reset_index(drop=True, inplace=True)

In [3]:
df.head(20)

                                                 text  label
0   Fast action will be key to containing new coro...      0
1   That CoronaVirus is about to turn into that Ri...      1
2   It be the ones who have the worst hygiene that...      1
3   This has been a day:\n\n• No new witnesses: ht...      1
4   y’all @itslbern really thinks i have the coron...      1
5   Want to do something to battle the #coronaviru...      1
6   #Carnival #Cruise Ship: #Coronavirus Scare Tra...      1
7   Due to the spread of the coronavirus, the one ...      1
8   Starbucks shuts half of China stores on corona...      1
9   According this blog: 6 cases of #coronavirus i...      1
10  @coleslawshoota Thank you for your service.. a...      0
11  So. Coronavirus has a 14 day incubation period...      1
12  #Afghanistan Coronavirus: Foreigners evacuated...      0
13  Coronavirus: WHO lists Nigeria, 12 others as t...      0
14        NYC got its first case of the coronavirus 😶      1
15  "We Made the Coronavirus Epidemic" DAVID QUAMM...      1
16  Bruh 2020 just cursed so far. Ww3. Coronavirus...      1
17  Coronavirus Outbreak: More airlines drop fligh...      0
18  Here's a list of hospitals equipped to deal wi...      0
19  Coronavirus is in San Diego y’all know what th...      1

In [4]:
df.shape

(974055, 2)

In [5]:
masks = df[df['text'].str.lower().str.contains('mask')]
print(masks.shape)
masks = masks.append(df[df['text'].str.lower().str.contains('face covering')])
print(masks.shape)
masks = masks.append(df[df['text'].str.lower().str.contains('masks')])
print(masks.shape)
masks = masks.append(df[df['text'].str.lower().str.contains('kn95')])
print(masks.shape)
masks.drop_duplicates()
print(masks.shape)
masks.head()
masks = masks.sample(n=1000)
print(masks.shape)
masks['topic'] = 'Masks'
masks['topic_label'] = 0
masks.head()

(32843, 2)
(33627, 2)
(47642, 2)
(47724, 2)
(47724, 2)
(1000, 2)

,text,label,topic,topic_label
844381,Murkowski bemoans surge of covid cases in Alas...,1,Masks,0
219415,😡 “The ‘meeting’ was little more than politica...,1,Masks,0
883984,World Mental Health Day 2021. I am delighted t...,0,Masks,0
230571,For the morons TRYING TO GET COVID ON PURPOSE\...,1,Masks,0
155264,In America you get a 1k fine and possible jail...,1,Masks,0

In [6]:
vaccine = df[df['text'].str.lower().str.contains('vaccine')]
vaccine = vaccine.append(df[df['text'].str.lower().str.contains('pfizer')])
vaccine = vaccine.append(df[df['text'].str.lower().str.contains('astrazeneca')])
vaccine = vaccine.append(df[df['text'].str.lower().str.contains('moderna')])
vaccine.drop_duplicates()
vaccine = vaccine.sample(n=1000)
print(vaccine.shape)
vaccine['topic'] = 'Vaccine'
vaccine['topic_label'] = 1
vaccine.head()

(1000, 2)

,text,label,topic,topic_label
523290,Canadians must work to prevent third wave as c...,0,Vaccine,1
672806,#UPDATE New information has emerged about the ...,0,Vaccine,1
932679,UK adds nerve disorder as rare side-effect of ...,0,Vaccine,1
724301,Pin Code:[411028] \nPMC P Sahyadri Hosp Hadaps...,0,Vaccine,1
835284,@lessofanengneer @DickyBullet @ggreenwald As f...,0,Vaccine,1

In [7]:
symp = df[df['text'].str.lower().str.contains('symptoms')]
symp.drop_duplicates()
symp = symp.sample(n=1000)
print(symp.shape)
symp['topic'] = 'Symptoms'
symp['topic_label'] = 2
symp.head()

(1000, 2)

,text,label,topic,topic_label
42913,@mamendoza480 To show how much dems care about...,1,Symptoms,2
343614,Help slow the spread of #COVID19 and identify ...,0,Symptoms,2
724137,"Oh look, antibiotics don’t actually help with ...",0,Symptoms,2
857085,If you have symptoms of COVID-19 for 10 days o...,0,Symptoms,2
556633,Have you got symptoms or tested positive for C...,0,Symptoms,2

In [8]:
quar = df[df['text'].str.lower().str.contains('quarantine')]
quar.drop_duplicates()
quar = quar.sample(n=1000)
print(quar.shape)
quar['topic'] = 'Quarantine'
quar['topic_label'] = 3
quar.head(10)

(1000, 2)

,text,label,topic,topic_label
289295,NEW- 1st Congressional District candidate Nanc...,0,Quarantine,3
498957,@and0bot One of my systems did close for a whi...,1,Quarantine,3
2223,No protest as S.Korean evacuees from Wuhan arr...,0,Quarantine,3
100322,Air Canada cancelling select flights to China ...,1,Quarantine,3
705261,"After vote west bengal, tamil nadu will have q...",0,Quarantine,3
95811,Coronavirus: Britons stuck in Wuhan to be flow...,1,Quarantine,3
440712,Video: Thiago and Mane COVID recovery ‘really ...,0,Quarantine,3
453820,BREAKING: While Mayor @LevarStoney remains in ...,0,Quarantine,3
445619,Top military leaders are under self-quarantine...,1,Quarantine,3
9712,South Korea’s Moon urges calm amid protests ov...,0,Quarantine,3

In [9]:
lock = df[df['text'].str.lower().str.contains('lockdown')]
lock.drop_duplicates()
lock = lock.sample(n=1000)
print(lock.shape)
lock['topic'] = 'Lockdown'
lock['topic_label'] = 4
lock.head(10)

(1000, 2)

,text,label,topic,topic_label
2511,It shouldn't be just Wuhan or Hubei Province b...,1,Lockdown,4
524623,1) With #COVID19 cases and hospitalizations so...,0,Lockdown,4
807416,Coronavirus India Highlights: Haryana extends ...,0,Lockdown,4
405946,The World Health Organization Does a Backflip ...,1,Lockdown,4
445317,"46,049 at the @AllBlacks v @wallabies Yesterd...",1,Lockdown,4
163461,Six confirmed covid-19 patients in Osun escape...,1,Lockdown,4
958594,"@MamataOfficial @basu_bratya Didi, very good d...",0,Lockdown,4
174399,@QuickTake @MarcDDavies Lockdown: Township eva...,0,Lockdown,4
886321,#Nowplaying Fly Away - Tones And I - Stream h...,0,Lockdown,4
153392,"Without lockdown, India's Covid-19 cases would...",0,Lockdown,4

In [10]:
edu = df[df['text'].str.lower().str.contains('education')]
edu = edu.append(df[df['text'].str.lower().str.contains('school')])
edu = edu.append(df[df['text'].str.lower().str.contains('schools')])
edu = edu.append(df[df['text'].str.lower().str.contains('university')])
edu = edu.append(df[df['text'].str.lower().str.contains('universities')])
edu.drop_duplicates()
edu = edu.sample(n=1000)
print(edu.shape)
edu['topic'] = 'Education'
edu['topic_label'] = 5
edu.head(10)

(1000, 2)

,text,label,topic,topic_label
817351,#COVID19 vaccine inequity will have serious im...,0,Education,5
357927,Teenager #pranks #horrified instructor with #...,0,Education,5
37126,Real important question...\n\nIf Mrs. Frizzle ...,0,Education,5
434623,Free #COVID19 testing Oct. 17 in Doddridge Cou...,1,Education,5
837817,Schools With Mask Mandates Have One Percent Lo...,0,Education,5
414016,Here's my review of COVID data in Kansas for t...,0,Education,5
474414,Surge of Student Suicides Pushes Las Vegas Sch...,0,Education,5
793102,Education Strike of AungMyayTharzan Tsp &amp; ...,1,Education,5
526423,If Biden wants to reopen schools with the stro...,1,Education,5
332811,HAPPENING RIGHT NOW -- \n Gov. Hogan and Stat...,0,Education,5

In [11]:
cure = df[df['text'].str.lower().str.contains('cure')]
cure = cure.append(df[df['text'].str.lower().str.contains('treatment')])
cure.drop_duplicates()
cure = cure.sample(n=1000)
print(cure.shape)
cure['topic'] = 'Treatment'
cure['topic_label'] = 6
cure.head(10)

(1000, 2)

,text,label,topic,topic_label
596501,Scientists Have Identified 9 Potential New COV...,0,Treatment,6
919400,How are medications for addiction treatment pr...,0,Treatment,6
530124,Health Minister Pavithra Wanniarachchi has tes...,1,Treatment,6
377309,Here’s what’s known about President Trump’s CO...,0,Treatment,6
50846,The Novel.Coronavirus is in epidemic level.Wor...,1,Treatment,6
730712,Germany’s CureVac jab shows only 48% effective...,0,Treatment,6
484058,42 people in West Virginia mistakenly given Re...,0,Treatment,6
871467,"COVID-19 treatments have gotten better, but th...",0,Treatment,6
359439,@JoeBiden @KamalaHarris @BarackObama @michaelb...,1,Treatment,6
436341,Cell Culture System Mimics Effects of Lung Mot...,0,Treatment,6

In [12]:
sci = df[df['text'].str.lower().str.contains('science')]
sci = sci.append(df[df['text'].str.lower().str.contains('scientist')])
sci = sci.append(df[df['text'].str.lower().str.contains('scientists')])
sci = sci.append(df[df['text'].str.lower().str.contains('biologist')])
sci = sci.append(df[df['text'].str.lower().str.contains('biologists')])
sci.drop_duplicates()
sci = sci.sample(n=1000)
print(sci.shape)
sci['topic'] = 'Science'
sci['topic_label'] = 7
sci.head(10)

(1000, 2)

,text,label,topic,topic_label
900887,US and Chinese scientists were planning to cre...,1,Science,7
950792,7 Day Confirmed Covid Cases per 1K Population ...,0,Science,7
565439,"keeps repeating \n""The Science"" \n\n*i do not ...",1,Science,7
555960,And holy hell are we lucky you're with #Scienc...,0,Science,7
628182,New GEO3BCN paper: Seismic monitoring of urban...,0,Science,7
929240,"Lol! If this is “science”, boy is humanity i...",1,Science,7
850455,Daily Covid Deaths per 1K Population by County...,0,Science,7
133777,Take a look at what the coronavirus possibly d...,0,Science,7
138376,Coronavirus COVID-19 Global Cases by the Cente...,0,Science,7
237290,Seven year coronavirus trail from bat cave via...,1,Science,7

In [13]:
case = df[df['text'].str.lower().str.contains('cases')]
case = case.append(df[df['text'].str.lower().str.contains('deaths')])
case = case.append(df[df['text'].str.lower().str.contains('infection rate')])
case = case.append(df[df['text'].str.lower().str.contains('tests')])
case.drop_duplicates()
case = case.sample(n=1000)
print(case.shape)
case['topic'] = 'Statistics'
case['topic_label'] = 8
case.head(10)

(1000, 2)

,text,label,topic,topic_label
554563,Exchange gets heated between Florida governor ...,1,Statistics,8
422941,#COVID19 update in Africa...12 October 2020 as...,0,Statistics,8
885197,"Quebec records 478 new COVID-19 cases, 4 new d...",0,Statistics,8
573306,"From 10,606 tests. https://t.co/spi2Ftx4QD",0,Statistics,8
250014,Amidst increasing cases of #COVID__19 and deat...,0,Statistics,8
500140,@HarveyHayseed @_Mercian @manoflabels @MattHan...,0,Statistics,8
764965,Covid 19 Coronavirus India Live News Today Jul...,0,Statistics,8
597119,"Of the 1,005 new #COVID19 cases in the Fraser ...",0,Statistics,8
238195,"11,000 NEW CASES IN ONE DAY JUST IN CALIFORNIA...",0,Statistics,8
942478,"Coronavirus Update:\n☣️️ Total cases: 239,701,...",0,Statistics,8

In [14]:
health = df[df['text'].str.lower().str.contains('nhs')]
health = health.append(df[df['text'].str.contains('WHO')])
health = health.append(df[df['text'].str.lower().str.contains('doctor')])
health = health.append(df[df['text'].str.lower().str.contains('doctors')])
health = health.append(df[df['text'].str.lower().str.contains('hospital')])
health = health.append(df[df['text'].str.lower().str.contains('hospitals')])
health.drop_duplicates()
health = health.sample(n=1000)
print(health.shape)
health['topic'] = 'Health'
health['topic_label'] = 9
health.head(10)

(1000, 2)

,text,label,topic,topic_label
181731,Nearly 9 in 10 COVID-19 patients who are put o...,0,Health,9
913577,@FitIndiaOff \n@HospitalsApollo\n@medanta\n@ai...,0,Health,9
562436,The Covid-19 death toll from NHSE was particul...,0,Health,9
69389,"Coronavirus: Whole world 'must take action', w...",0,Health,9
318523,Register now for just 9 USD 🔴 Limited Seats On...,0,Health,9
214571,Dear Senator Lindsey!We love you! TCM could st...,1,Health,9
889611,Doctors urge Albertans to demand government re...,0,Health,9
935520,Merck says COVID-19 oral antiviral reduced ris...,0,Health,9
914451,Officials: Nurse Arrested in COVID-19 Card Fra...,1,Health,9
271698,"Doctor, doctor: Why your favourite GP practice...",0,Health,9

In [15]:
work = df[df['text'].str.lower().str.contains('worker')]
work = work.append(df[df['text'].str.lower().str.contains('workers')])
work = work.append(df[df['text'].str.lower().str.contains('nurse')])
work = work.append(df[df['text'].str.lower().str.contains('nurses')])
work = work.append(df[df['text'].str.lower().str.contains('office')])
work = work.append(df[df['text'].str.lower().str.contains('offices')])
work.drop_duplicates()
work = work.sample(n=1000)
print(work.shape)
work['topic'] = 'Work'
work['topic_label'] = 10
work.head(10)

(1000, 2)

,text,label,topic,topic_label
486158,#Covid19: Nurses call for better masks to prot...,0,Work,10
900210,Covid 19 is the #1 cop killer. \nCOVID-19 Is t...,0,Work,10
537555,"""Senator Warren will continue holding these pr...",1,Work,10
443230,Looking for a disinfectant for your attic rest...,0,Work,10
423290,Covid19 Pandemic another example of why every ...,1,Work,10
525446,I just wanted to thank All the Healthcare Work...,1,Work,10
461523,NY Nursing Home Deaths May Have Been 50% Highe...,0,Work,10
133773,On the frontline: meet the NHS workers tacklin...,0,Work,10
694924,NEW DELHI: In order to help accredited organis...,0,Work,10
918569,"A global tragedy: Up to 180,000 health care wo...",0,Work,10

In [16]:
legal = df[df['text'].str.lower().str.contains('legislation')]
legal = legal.append(df[df['text'].str.lower().str.contains('policy')])
legal = legal.append(df[df['text'].str.lower().str.contains('policies')])
legal = legal.append(df[df['text'].str.lower().str.contains('government')])
legal = legal.append(df[df['text'].str.lower().str.contains('police')])
legal.drop_duplicates()
legal = legal.sample(n=1000)
print(legal.shape)
legal['topic'] = 'Legislation'
legal['topic_label'] = 11
legal.head(10)

(1000, 2)

,text,label,topic,topic_label
610717,"According to the poll, parents felt school and...",0,Legislation,11
561808,@4YrsToday Biden is doing a fantastic job.\n1)...,1,Legislation,11
178884,"""Instead of offering proactive and positive su...",0,Legislation,11
941929,Over 70 Percent Of Parents Want Their Kids Out...,0,Legislation,11
916909,LONDON - British government delays locking dow...,0,Legislation,11
870685,CHICAGO — Police officers in Chicago will not ...,0,Legislation,11
761298,@itsTanzilsk Dear @itsTanzilsk\nPlease DM/inb...,0,Legislation,11
971487,British government’s early pandemic response w...,1,Legislation,11
365842,"Dr. Deborah Birx, said the federal government ...",0,Legislation,11
666857,Democrat Richard Neal Calls to Permanently Ext...,1,Legislation,11

In [17]:
gov = df[df['text'].str.lower().str.contains('government')]
gov = gov.append(df[df['text'].str.lower().str.contains('politics')])
gov = gov.append(df[df['text'].str.lower().str.contains('democrats')])
gov = gov.append(df[df['text'].str.lower().str.contains('republican')])
gov = gov.append(df[df['text'].str.lower().str.contains('snp')])
gov = gov.append(df[df['text'].str.lower().str.contains('tory')])
gov = gov.append(df[df['text'].str.lower().str.contains('labour')])
gov.drop_duplicates()
gov = gov.sample(n=1000)
print(gov.shape)
gov['topic'] = 'Politics'
gov['topic_label'] = 12
gov.head(10)

(1000, 2)

,text,label,topic,topic_label
961213,B.C. leaves mandatory COVID-19 vaccines for te...,0,Politics,12
783865,MORE VACCINES AS US GOVT. PLEDGES TO DONATE JO...,0,Politics,12
701284,The PM is expected to outline the government's...,0,Politics,12
736743,Fight tyranny. This is brutally unacceptable. ...,1,Politics,12
815533,CDC director tells Bret Baier government 'look...,0,Politics,12
130566,Indonesia may reach peak of coronavirus infect...,0,Politics,12
790998,And surely all these anti-vaxxers who are laid...,1,Politics,12
324999,@danawhite @CalvinKattar @Dynamitedan808 @espn...,1,Politics,12
100393,Americans Trapped in Wuhan Aren’t Angry at the...,0,Politics,12
818107,Some other government agencies are taking step...,0,Politics,12

In [18]:
trav = df[df['text'].str.lower().str.contains('travel')]
trav = trav.append(df[df['text'].str.lower().str.contains('international')])
trav = trav.append(df[df['text'].str.lower().str.contains('airline')])
trav = trav.append(df[df['text'].str.lower().str.contains('airlines')])
trav = trav.append(df[df['text'].str.lower().str.contains('hotels')])
trav = trav.append(df[df['text'].str.lower().str.contains('train')])
trav = trav.append(df[df['text'].str.lower().str.contains('trains')])
trav.drop_duplicates()
trav = trav.sample(n=1000)
print(trav.shape)
trav['topic'] = 'Travel'
trav['topic_label'] = 13
trav.head(10)

(1000, 2)

,text,label,topic,topic_label
95104,"United Airlines, British Airways &amp; other c...",1,Travel,13
862264,"Happy to be ""old"" enough to get a #COVID19 boo...",0,Travel,13
325765,The race to get back to the UK from Spain befo...,0,Travel,13
730561,Please help us providing oxygen. Junta will ne...,1,Travel,13
713674,Lots of detainees are suffering from Covid-19 ...,0,Travel,13
12436,What is Nigeria interior minister doing agains...,0,Travel,13
924150,But not the foreign travelers (illegal aliens)...,1,Travel,13
331176,"Bioinformatician and Virus Hunter, Prof Tulio ...",0,Travel,13
20633,The rollercoaster continues for Inovio's stock...,0,Travel,13
526566,Tuskegee Airman from LA dies from COVID-19 day...,0,Travel,13

In [19]:
test = df[df['text'].str.lower().str.contains('tests')]
test = test.append(df[df['text'].str.lower().str.contains('covid test')])
test = test.append(df[df['text'].str.lower().str.contains('positive')])
test = test.append(df[df['text'].str.lower().str.contains('negative')])
test = test.append(df[df['text'].str.lower().str.contains('covid test')])
test = test.append(df[df['text'].str.lower().str.contains('testing centre')])
test.drop_duplicates()
test = test.sample(n=1000)
print(test.shape)
test['topic'] = 'Testing'
test['topic_label'] = 14
test.head(10)

(1000, 2)

,text,label,topic,topic_label
430361,Salud Carbajal tests positive for COVID-19 ht...,1,Testing,14
445836,"@SylvesterTurner Covid testing in schools, ple...",0,Testing,14
833742,"two people are in hospital COVID-19 units, inc...",0,Testing,14
28900,Three Japanese citizens evacuated from Wuhan t...,1,Testing,14
845334,Australian Medical Manufacturer Recalls Nearly...,1,Testing,14
202563,Hi everyone \n\nOne of my friend has been Test...,0,Testing,14
205194,The sky is a truer blue color than I can ever ...,0,Testing,14
232955,Very tough day for Major League Baseball. 13 M...,1,Testing,14
377840,Second coronavirus outbreak on ship off WA coa...,0,Testing,14
865659,TONIGHT: @hailthesun at The Shelter\n\n⚠️All f...,1,Testing,14

In [20]:
out = pd.concat([masks, vaccine, symp, quar, lock, edu, cure, sci, case, health, work, legal, gov, trav, test], axis=0, sort=False)
print(out.shape)
out = out.sample(frac=1).reset_index(drop=True)
out.head(10)
out.to_csv('..\\processed\\cluster_input.csv', header = False, index = False)

(15000, 4)